<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - eCommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="icon" href="@Url.Content("~/content/favicon.ico")" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <!-- Bootstrap Font Icon CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet"
          href="style.css" />
    <link rel="preconnect"
          href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap"
          rel="stylesheet" />
</head>
<body>
    <section id="navbar">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    e-Commerce Hub
                </a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto">
                        <partial name="_LoginPartial" />
                        <li class="nav-item">
                            <a class="nav-link active"
                               aria-current="page"
                               asp-controller="Home" asp-action="Index">
                                Home
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Our Products</a>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
    </section>

    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">eCommerce</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                @*/
                <ul class="navbar-nav">
                    @await Component.InvokeAsync("ShoppingCartSummary");
                </ul>

                <div class="dropdown">
                <button class="btn btn-outline-success" data-bs-toggle="dropdown" type="button" id="profile-btn" data-toggle="dropdown"
                            aria-expanded="false">
                        <i class="bi bi-person-badge"></i>Hello User
                    </button>
                   <ul class="dropdown-menu" aria-labelledby="profile-btn">
                        <li> 
                            <a class="dropdown-item" asp-controller="Orders" asp-action="Index">
                                <i class="bi bi-list"></i> Orders
                            </a>
                        </li>
                    </ul>
                </div>
               
            </div>
        </nav>
    </header> *@
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody();
        </main>
    </div>

    <section id="footer">
        <section id="banner">
            <div class="container-fluid" id="banner-container">
                <div class="row" id="banner-row">
                    <div class="col-md-4" id="footer-col1">
                        <h3>e-Commerce Hub</h3>

                        <p>
                            This site was developed as a learning project as part of the Cantek training course.
                        </p>

                    </div>
                    <div class="col-md-4" id="footer-col2">
                        <h3>Contact Us</h3>

                        <p>Call Us - 1234-567-8910</p>


                        <p>Email Us - email@gmail.com</p>

                    </div>

                    <div class="col-md-4" id="footer-col2">
                        <h3>Subscribe To Newsletter</h3>
                        <form>
                            <div class="mb-3">
                                <input type="email"
                                       placeholder="Enter Your Email"
                                       class="form-control"
                                       id="exampleInputEmail1"
                                       aria-describedby="emailHelp" />
                                <div id="emailHelp"
                                     class="form-text">
                                    We'll never share your email with anyone else.
                                </div>
                            </div>
                            <button type="submit"
                                    class="btn btn-primary">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
            crossorigin="anonymous">
        </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
